h3{
    color: #22577A;
}

p {
    color: black;
  }

a{
    color: #22577A;
}

#t4cgeel{
    color: #FFA630;
}
#t4cgroen{
    color: #89B031;
}
#t4cblauw{
    color: #22577A;
}
nav {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
 